$outline: #3246bb;

.ProjectListTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProjectCard {
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    border: 1px solid;
    border-color: $outline;
  }
}

.ProjectCardButtons {
  display: flex;
  align-items: center;
}

.FollowButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
