// responsive elements
$breakpoint-tablet: 992px;
$breakpoint-mobile: 600px; // if we want phone-responsive elements

// font
$base-font-family: "Lato", sans-serif;
$title-font-family: "Montserrat", sans-serif;

// color scheme
$base-light: #f2f2f2;
$base-dark: #020036;
$primary-light: #6e7ed8;
$primary-dark: #2b3da1;
