.SelfProjectApplicationsFocus {
  //   background-color: #fff;
  //   border-radius: 15px;
  //   border: 1px solid #e7e7e7;
  padding: 20px 20px;

  h3 {
    font-family: "Lato", sans-serif;
    color: #5f574f;
  }
}

h4 {
  font-family: "Lato", sans-serif;
  color: #5f574f;
}

.SelfProjectAppQna {
  margin-bottom: 15px;
}
