.Following {
  width: 50%;
  background-color: rgba(242, 242, 242, 0.8);
  margin: 10px;
  height: 650px;
  overflow: auto;

  .FollowingHead {
    color: #f2f2f2;
    background-color: #adadad;
    padding: 20px;
    box-shadow: 0 20px 15px -15px gray;
    margin-bottom: 20px;

    button {
      font-size: 1.5em;
      margin-left: 10px;
      color: #f2f2f2;
      font-family: "Lato", sans-serif;
      background: none;
      border: none;
      outline: none;

      &:hover {
        color: #303030;
      }
    }
  }
}
