.SelfProjects {
  height: 600px;
  overflow: auto;
  background-color: rgba(242, 242, 242, 0.8);
  margin: 10px;

  .SelfProjectsHead {
    color: #f2f2f2;
    text-align: center;
    background-color: #adadad;
    padding: 10px;
    box-shadow: 0 20px 15px -15px gray;
    margin-bottom: 20px;
  }

  .SelfProjectsContent {
    display: flex;
    padding: 10px;

    .SelfProjectsCards {
      width: 40%;
      display: flex;
      flex-flow: column;
      margin-right: 20px;
    }

    .SelfProjectsFocus {
      width: 60%;
      position: sticky;
    }
  }
}

.FocusFillerSelfProject {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20vh);
}
