.ProjectsContainer {
  display: flex;
  padding: 3vh 5vw;
  max-width: 1500px;
  margin: auto;
}

.ProjectsContainerLeft {
  position: relative;
  width: 40%;
  margin-right: 30px;
}

.ProjectsContainerRight {
  width: 60%;
  align-self: flex-start;
  position: sticky;
  top: 3%;
}

.FocusFiller {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30vh);
}

.FocusProject {
  border: 1px solid;
  border-color: #3246bb;
}
