.footer {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
}

.footer-groups {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.footer-groups a:link {
  font-weight: lighter;
  text-decoration: none;
}

.footer-groups a:visited {
  font-weight: lighter;
  text-decoration: none;
}

.footer-groups a:hover {
  font-weight: normal;
}

.footer-group-links {
  display: flex;
  flex-direction: column;
}

.footer-group-sm-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
