.FollowProjects {
  padding: 0 20px;

  li {
    list-style-type: none;
    font-size: 1.3rem;
    color: #5f574f;
    font-family: "Lato", sans-serif;
  }
}

.Title {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Apply {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.75rem;
  background-color: #6e7ed8;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
}

.Department {
  p {
    font-size: 14px;
  }
}
