.FollowProjects {
  padding: 20px 20px;
  margin: 0 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e7e7e7;

  li {
    list-style-type: none;
    font-size: 1.3rem;
    color: #5f574f;
    font-family: "Lato", sans-serif;
  }
}

.Title {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Department {
  p {
    font-size: 14px;
  }
}

.UnfollowProject {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
