.AppliedProjects {
  padding: 20px 20px;
  margin: 0 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  li {
    list-style-type: none;
    font-size: 1.3rem;
    color: #5f574f;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
  }
}

.ExpandApplication {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.ExpandedAnswers {
  padding: 10px 20px;
  margin: 0 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 15px;
}
