$navbar-font-family: "Montserrat", sans-serif;
$navbar-item-color: #f2f2f2;
$header-color: #5f574f;
$bg-dark-gradient-1: rgb(50, 70, 187) 0%;
$bg-dark-gradient-2: rgba(64, 81, 182, 0.93) 55%;
$bg-dark-gradient-3: rgba(96, 108, 182, 0.44) 100%;
$bg-default: #2f0098;
$offset-angle: 0deg;

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(
    $offset-angle,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );
  background: -o-linear-gradient(
    $offset-angle,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );
  background: linear-gradient(
    $offset-angle + 90deg,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .show > .btn-primary.dropdown-toggle,
  .show > .btn-primary.dropdown-toggle:focus {
    border-color: $navbar-item-color;
    color: $navbar-item-color !important;
    background: none;
    box-shadow: none;
  }

  .dropdown-item {
    color: #5f574f;
  }
}

.navbar-item {
  margin: 0 10px;
  font-family: $navbar-font-family;
  padding: 15px 5px;
  font-size: 1rem;
  text-decoration: none;
  color: $navbar-item-color;

  &:hover {
    color: $navbar-item-color !important;
    text-decoration: none;
  }
}

.page {
  &:hover {
    z-index: 1;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
}

.navbar-title {
  font-family: $navbar-font-family;
  text-decoration: none;
  color: $navbar-item-color;
  font-size: 1.6rem;

  &:hover {
    opacity: 0.9;
    transition: 0.5s;
  }
}

.first-page {
  margin-left: auto;
}

#login {
  font-family: $navbar-font-family;
  border: none;
  background-color: #2b3da1;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #1e2a71;
  }
}

input {
  background-color: $navbar-item-color;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-right: 5px;
  padding: 1px 5px;

  &:focus {
    background-color: white;
    outline: none;
  }
}

#logo {
  max-width: 40px;
}

#profile-icon {
  font-size: 1.6em;
}
