$bg-dark-gradient-1: #020036ff 0%;
$bg-dark-gradient-2: #2f0098ea 57%;
$bg-dark-gradient-3: #5500ffd8 100%;
$bg-default: #2f0098;
$offset-angle: 3deg;

.background {
  position: absolute;
  width: 100vw;
  height: 55vh;
  background: $bg-default;
  background: -webkit-linear-gradient(
    $offset-angle,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );
  background: -o-linear-gradient(
    $offset-angle,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );
  background: linear-gradient(
    $offset-angle + 90deg,
    $bg-dark-gradient-1,
    $bg-dark-gradient-2,
    $bg-dark-gradient-3
  );
  clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
}

#home-box {
  position: relative;
  padding: 1vh 5vw 10vh 5vw;
}

.hb-content {
  display: flex;
}

.hb-text {
  box-shadow: -5px 5px 20px #2e1683aa;
  background-color: #f1f1f1;
  width: 40%;
  margin-right: 30px;
  padding-bottom: 10px;

  h1, p {
    padding: 0 2rem;
  }

  p {
    font-size: 1.1rem;
    color: #020024;
  }

  ul {
    margin: 0 2rem;
  }

  li {
    margin-bottom: 10px;
    font-size: 0.88rem;
    font-family: "Lato", sans-serif;
  }
}

.hb-image {
  box-shadow: -5px 5px 20px #2e1683aa;
  background-color: black;
  width: 60%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* responsive: stack image on TOP of text */
/* 972px: width of "applied learning initiative" box before wrapping */
@media screen and (max-width: 972px) {
  .hb-content {
    display: flex;
    flex-direction: column;

    .hb-image {
      width: 100%;
      margin-bottom: 30px;
      order: 1; /* add webkit and o */
    }

    .hb-text {
      width: 100%;
      padding-bottom: 10px;
      order: 2; /* add webkit and o */
    }
  } 
}

.index-bullet {
  color: #020024;
  margin-right: 2px;
}