.prof-info {
  display: flex;
  padding: 1vh 5vw 5vh 5vw;
}

.prof-box {
  margin: 10px;
  background-color: rgba(242, 242, 242, 0.8);
}

.prof-left {
  width: 50%;
}

.prof-left-head {
  color: #f2f2f2;
  text-align: center;
  background-color: #adadad;
  padding: 10px;
  box-shadow: 0 20px 15px -15px gray;
  margin-bottom: 20px;

  h1 {
    color: #f2f2f2;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  button {
    background: none;
    border: none;
    color: #f2f2f2;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}

.prof-right {
  width: 50%;
}

.prof-right-head {
  background-color: #adadad;
  padding: 10px;
  box-shadow: 0 20px 15px -15px gray;

  h1 {
    color: #f2f2f2;
    margin-left: 20px;
  }
}

.following {
  padding: 0 20px;

  > .proj-title {
    margin-left: 15px;
  }

  > li {
    font-size: 1.3rem;
    color: #5f574f;
    font-family: "Lato", sans-serif;
  }
}

.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.close-icon {
  color: #ff7070;
  cursor: pointer;
}

.proj-caption {
  > li {
    list-style-type: none;
    font-family: "Lato", sans-serif;
  }
}

.following {
  p {
    font-size: 14px;
  }
}

#continue-apply {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.75rem;
  background-color: #6e7ed8;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;

  &:hover {
    background-color: #2b3da1;
  }
}

#name {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  border: none;

  &:focus {
    text-align: center;
    background-color: #adadad;
    color: #f2f2f2;
  }
  > span {
    font-size: 1.5rem;
  }
}

#school {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  border: none;

  &:focus {
    text-align: center;
    background-color: #adadad;
    color: #5f574f;
  }

  > span {
    color: #5f574f;
    font-size: 1.2rem;
  }
}

.editableText {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  > span {
    font-family: "Lato", sans-serif;
    /* margin-right: 0.5rem; */
    background-color: none;
    border-radius: 0.5rem;
    padding: 0.2rem;
  }
}

.questions {
  padding-left: 10px;

  .editableText {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
  }

  span {
    padding: 10px;
    background-color: #e6ecf0;
    width: 40%;
    margin-right: 10px;
  }

  button {
    background: none;
    border: none;
    color: #adadad;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .editableInput {
    background-color: #e6ecf0;
    margin-left: 20px;
    width: 80%;
  }
}