#projects {
  position: relative;
  padding: 1vh 5vw 5vh 5vw
}

.projects-title {
  display: flex;
  justify-content: center;
  h1 {
    color: #020024;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }
}

.project-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2ea;
  border-radius: 10px;
  padding: 15px;
}